.header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    position: fixed;
    top: 0px; 
    left: 0;
    width: 100dvw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header * {
    background: transparent;
}

.header h4 {
    color: var(--color-primary);
}