:root {
    /* 🌈 Màu sắc chủ đạo */
    --color-primary: #00b67a;
    --color-bg: #F3F3F3;
    --color-text: #1B1B1B;
    --border: #EAEAEA;
    --color-phu: #ED0101;
    --selected: #ffd3d3;
    --red: #F8726F;
    --green: #38D497; 
    --blue: #818CF8;
    --yellow: #FABE1F;
    --darkMainColor: #00713F;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.container * {
    /* border: 1px solid black; */
}

.search {
    display: flex;
    justify-content: center;
}

.select {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.select button {
    border-radius: 10px;
    padding: 5px;
    width: 100px;
}
.select>button.active {
    background-color: var(--red);
    color: white;
}
/* ----------------------------- */

.maincontent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;

    gap: 20px; 
    overflow-x: auto;
    /* justify-content: center; */
    justify-content: center;
    align-content: flex-start;
    scrollbar-width: thin;
    scrollbar-color: #999 transparent; 
    justify-content: flex-start;
}

/* ----------------------- */

.actions {
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.actions button {
    background-color: var(--darkMainColor); 
    color: white;
}


/* ------------------------- */

.actionBottoms {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.actionBottoms img{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}